@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  overflow-x: hidden;
}

/* css for navbar */
.navbar {
  overflow: hidden;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  width: 100%;
  top: 0;
  z-index: 3;
}

.navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
  color: #1a202c;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin-left: 10px;
  border-radius: 5em;
  width: 6em;
}

.active {
  color: #294dff !important;
}

.navbar .icon {
  float: left;
  overflow: hidden;
  display: none;
  font-size: 1.5em;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .btn {
  font-size: 14px;
  border: none;
  outline: none;
  color: #1a202c !important;
  padding: 15px 16px;
  font-weight: 400;
  background-color: inherit;
  margin-left: 15px;
}

.dropdowncontent {
  margin-top: 3em;
  display: none;
  position: fixed;
  background-color: #ffffff;
  min-width: 160px;
  border-radius: 12px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 4;
}

.dropdowncontent a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  width: 180px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.dropdown1:hover .dropdowncontent {
  display: block;
}

.dropdown {
  width: 220px;
  text-align: center;
  border: double 4px transparent;
  border-radius: 80px;
  background-image: linear-gradient(white, white),
    linear-gradient(to right, #0a375d, #00aeef, #ec008c);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.navbar a:hover {
  color: #d53f8c;
}

.navbar .dropdown .btn:hover {
  color: #d53f8c !important;
}

.leftnav {
  padding-left: 0;
}
.leftnav .logo {
  background-color: #ec008c;
  border-radius: 12px;
  height: 70px;
  width: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-logo {
  width: 56.7px;
  height: 23.5px;
}

.rightnav {
  padding-right: 5em;
}

@media (max-width: 820px) {
  .dropdown {
    border: none;
    background: transparent;
  }
  .rightnav {
    display: none;
  }
  .navbar .icon {
    margin-right: -2em;
  }
  .rightnav.rightnav-reponsive {
    padding-right: 0em;
    background-color: #fff;
    width: 100%;
    margin-top: 24em;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: block;
    transition: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    left: 0px;
  }

  .navbar a {
    float: none;
  }
  .dropdowncontent {
    margin-top: 0em;
  }
  .dropdown {
    float: none;
    overflow: hidden;
  }
  .navbar .icon {
    display: block;
  }
  .leftnav {
    padding-left: 0em;
  }
}

.heading {
  margin-bottom: 5rem;
}

.section {
  padding-right: 15px;
  padding-left: 15px;
}
.main-content {
  margin-right: auto;
  margin-left: auto;
}

/* css for section1 */

.section-1 h4 {
  font-size: 40px;
  font-weight: 800;
}
.section-1 .searchform h4 span {
  color: #ec008c;
}
.searchform h4 {
  margin: 0px;
}
.searchform {
  position: absolute;
  transform: translate(-1%, 20%);
}
.smalltext {
  color: #4a5568;
  font-size: 14px;
  font-weight: 400;
}

.section-1 p span {
  color: #38a169;
}

.w-100 {
  width: 100%;
}
.search-wrapper img {
  position: absolute;
  left: 1rem;
}
.search-wrapper {
  position: relative;
  border-radius: 2rem;
  padding: 1rem;
  height: 70px;
}
.search-wrapper input {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 30px;
  padding: 1rem;
  padding-left: 4rem;
  background-color: #e2e8f0;
  border: none;
}
.search-wrapper img {
  position: absolute;
  top: 25px;
  left: 20px;
  z-index: 1;
}
.search-wrapper button {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 10px 20px;
  z-index: 1;
  background: #ffffff;
  border: none;
  border-radius: 2.5em;
  text-transform: uppercase;
  color: #2d3748;
}

.playicon {
  background: #294dff;
  padding: 35px 37px;
  border-radius: 61px;
  position: absolute;
  left: 51%;
  box-shadow: 0px 0px 0px 7px #3333;
  top: 33rem;
  z-index: 1;
}

/* css for section2 */
.section-2 {
  background-color: #f7fafc;
  height: 471px;
}
.section-2 h1 {
  color: #1a202c;
  font-size: 32px;
  font-weight: 800;
}
.cardContainer {
  display: flex;
  justify-content: space-around;
}

.card {
  text-align: center;
}

.section-2 .card {
  margin-bottom: 4rem;
}

.cardbody::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 100px;
  margin-left: 6em;
  margin-top: -6em;
  background-color: #cbd5e0;
}

.cardContainer .card .icon {
  border-radius: 50%;
  padding: 2.5rem;
  text-align: center;
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
}

.icon1 {
  background-color: #fed7e2;
}

.icon2 {
  background-color: #c6f6d5;
}
.icon3 {
  background-color: #feebc8;
}
.icon4 {
  background-color: #dee4ff;
}

.cardbody h2 {
  font-size: 48px;
  font-weight: 800;
}

.cardbody p {
  font-size: 18px;
  font-weight: 500;
  color: #4a5568;
}

/* css for section3 */
.section-3 h1 {
  font-size: 32px;
  font-weight: 800;
}
.section-3 h4 {
  font-size: 16px;
  font-weight: 500;
}

.d-flex {
  display: flex;
}

.toggle-btns {
  display: inline-flex;
  background: #e2e8f0;
  margin-bottom: 3rem;
  border-radius: 30px;
}
.toggle-btns h4 {
  margin: 0px;
}

.toggle-btns > div {
  padding: auto;
  align-items: center;
  padding: 5px 80px;
}
.btn {
  padding: 10px 20px;
  text-decoration: none;
}

.toggle-btns img {
  margin: 0px 10px;
}
.toggle-btn-1 {
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 0px 5px 2px #3333;
}

/* css for section4 */

.img-wrapper {
  background-repeat: no-repeat;
}
.card {
  background-position: center center;
}

.imagesection .card {
  height: 350px;
  background-repeat: no-repeat;
  margin-bottom: 5rem;
}
.imagesection .card-content {
  color: #ffffff;
  position: absolute;
  bottom: 80px;
}

.imagesection .card-content h3 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}
.section {
  overflow: auto;
  overflow-x: hidden;
}
.imagesection .btn {
  background-color: #294dff;
  color: #ffffff;
  border-radius: 20px;
}

/* css for section5 */
.section-5 .row {
  overflow: auto;
  overflow-x: hidden;
}

.section-5 .row h3 {
  font-size: 18px;
  font-weight: 700;
}
.col {
  float: left;
}
.section-5 .row li {
  font-size: 14px;
  font-weight: 400;
}

.section-5 .imagcard h2 {
  font-size: 32px;
  font-weight: 900 !important;
  color: #ffff;
  text-align: left;
  padding-left: 1.5em;
  width: 250px;
}

.cardimage {
  position: absolute;
  left: 0.25%;
  right: 72.25%;
  top: 55%;
  bottom: 41.16%;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background: url(assets/img5.png);
  opacity: 0.4;
}

.imagcard {
  position: absolute;
  left: 7.25%;
  right: 72.25%;
  top: 45.56%;
  bottom: 45.58%;
  width: 80%;
  height: 47rem;
  overflow: hidden;
  background: linear-gradient(
    180deg,
    #294dff 0%,
    #294dff 80.7%,
    rgba(217, 14, 38, 0) 101.9%
  );
  border-radius: 4px 50px 40px 40px;
}

.border-bottom {
  border-bottom: 1px solid #e2e8f0;
  width: 852px;
  margin-bottom: 2em;
}

/* css for section6 */
.section-6 {
  background-color: #253053;
  min-height: 447.64px;
  padding: 25px 0px;
}
.section-6 {
  margin: 0 auto;
  height: 200px;
  background: #253053;
  position: relative;
  overflow: hidden;
}

.section-6:after {
  content: "";
  position: absolute;
  height: 80px;
  left: -10%;
  right: -10%;
  border-radius: 50%;
  bottom: -25px;
  background: #f7fafc;
}

.image-container {
  display: flex;
  height: 15rem;
  flex-wrap: wrap;
}
.image-container div {
  text-align: center;
}
.img-container-heading {
  text-align: center;
  color: #ffffff;
}

.img-container-heading h1 {
  font-size: 40px;
  font-weight: 800;
}

.img-container-heading .btn {
  border-radius: 25px;
  background: #294dff;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
}

.sec-6-7 {
  position: relative;
}

/* css for section7 */
.section-7 {
  background-color: #f7fafc;
}

.silder {
  width: 50%;
  margin: auto;
}

.section-7 {
  margin-bottom: 0px;
}

.section-7 .logo {
  background-color: #002bec;
  height: 70px;
  width: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-7 {
  position: relative;
  margin-bottom: 0px;
}

.section-7 .cardbox {
  background-color: #ffffff;
  background-size: cover;
  font-size: 14px;
  font-weight: 400;
  color: #4a5568;
  overflow: hidden;
  padding: 45px;
  border-radius: 0px 25px 25px 25px;
}

.section-7 .cardbox-container {
  display: flex;
  justify-content: flex-start;
}

.section-7 h6 {
  color: #d53f8c;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.section-7 .arrows {
  display: flex;
  justify-content: flex-end;
}

.section-7 h4 {
  color: #1a202c;
  margin-top: 0;
  font-size: 32px;
  font-weight: 800;
}

.section-7 .counter {
  display: grid;
  place-items: center;
  padding: 10px;
  color: #4a5568;
  font-weight: 800;
  font-size: 14px;
  line-height: 21px;
}

.section-7 .arrows div {
  margin: 10px;
}
.section-7 .arrows .leftarrow a {
  color: #1a202c;
}
.section-7 .arrows div a {
  text-decoration: none;
  color: #000;
}
.section-7 .counter {
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.section-7 .arrows {
  display: flex;
  justify-content: end;
  float: right;
}
.section-7 .arrows a {
  text-decoration: none;
  padding: 0px 15px;
}

.curve-box div {
  position: relative;
  color: #4a5568;
  padding: 10px 0px;
}

.curve-box:before {
  content: "";
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  background: inherit;
  border-radius: 5% / 50%;
}

/* css for section8 */
.section-8 {
  margin: 0 auto;
  background: #253053;
  position: relative;
  overflow: hidden;
}

.section-8 .heading {
  text-align: center;
  margin-top: 10rem;
}

.section-8 h1 {
  font-size: 40px;
  font-weight: 800;
  color: #ffff;
}

.section-8:after {
  content: "";
  position: absolute;
  height: 80px;
  left: -10%;
  right: -10%;
  border-radius: 50%;
  bottom: 250px;
  background: #f7fafc;
}

.img-container-heading button,
.section-8 button {
  border-radius: 25px;
  background: #253053;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
}

.section-8 {
  background: #4a65eb;
  position: relative;
  z-index: -1;
  margin-bottom: 0px;
}

/* css for section9 */
.section-9 {
  position: relative;
  padding: 30px 0px;
  background: #253053;
  color: white;
  margin: 0;
  margin-bottom: 0px;
}
.section-9 .heading {
  margin-bottom: 20px;
  margin-top: 0px;
}

footer {
  background: #1a202c;
  color: white;
  padding: 10px 0px;
  text-align: center;
  margin: 0;
}
footer .content {
  display: flex;
  justify-content: center;
}
footer a {
  text-decoration: none;
  color: #ffff;
  font-size: 12px;
  font-weight: 500;
}

.footer-content {
  color: #a0aec0;
  font-size: 12px;
  font-weight: 500;
}

@media only screen and (max-width: 767px) {
  .div-mb-6 {
    width: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .div-ipod-6 {
    width: 50%;
  }
}

@media only screen and (min-width: 992px) {
  .div-desktop-6 {
    width: 50%;
  }
}

@media only screen and (min-width: 1600px) {
  .main-content {
    width: 1500px;
  }
}
